body{
	background-color:#fafafa;
}

div{
	border:solid 1px #000;}

#container{border: solid 2px red;
		width:960px;
		margin: auto;}
 #banner{height:200px;}
 #nav{height: 75px;}

 #main{width: 75%;
 		height: 50%;
 		float: right;}

 .sideBar{width:25%;
 		background-color:red;
 		height: 27%;
 		border: solid;
 		float: left}	

 #footer{
 	background-color: green;
 	height:30px;
 	clear: both;}
